. {
    background: rgba(255,255,255,0.75);
    max-width: 280px;
    border: solid 1px whitesmoke;
    border-radius: 12px;
    font-family: Helvetica, serif;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 8px;
}

h1 {
    margin: 12px;
    padding-left: 8px;
    padding-right: 8px;
    opacity: 0.35;
    font-size: 160%;
}
