<div layout="columns top-stretch">

    <header layout="row center-right">
        <h1 data-ui-field="title" self="size-x1 center-left">Device name</h1>
        <!-- TODO: settings button (gear icon) -->
    </header>

    <div class="actions debossed" self="stretch" layout="row center-center">
        <button data-ui-field="control.on" class="flat-56">On</button>
        <button data-ui-field="control.off" class="flat-56">Off</button>
    </div>

    <div layout="row center-right">
        <button data-ui-field="menu" class="flat-32 no-shadow">=</button>
    </div>

</div>
