<!-- icon set: http://designbeep.com/2015/05/30/free-download-smart-house-icon-set-svg-eps-png-sketch/ -->
<div layout="columns top-stretch">

    <header layout="row center-right">
        <h1 data-ui-field="name" self="size-x1 center-left">Device name</h1>
        <!-- TODO: settings button (gear icon) -->
        <img data-ui-field="icon" class="icon" src="images/devices/bulb.png">
    </header>

    <div class="debossed" layout="column stretch-stretch" self="size-x1">
        <div class="actions" self="size-x1 stretch-stretch" layout="row stretch-stretch">
            <button data-ui-field="control.off" class="flat-56">Off</button>
            <button data-ui-field="control.toggle" class="flat-56" layout="row center-center">
                <div data-ui-field="status-led" class="status-led off"></div>
            </button>
            <button data-ui-field="control.on" class="flat-56">On</button>
        </div>
        <div data-ui-field="level-view" self="size-small bottom">
            <div data-ui-field="control.level" self="stretch" layout="row stretch-stretch">
                <div class="level-step">1</div>
                <div class="level-step">2</div>
                <div class="level-step">3</div>
                <div class="level-step">4</div>
                <div class="level-step">5</div>
                <div class="level-step">6</div>
                <div class="level-step">7</div>
                <div class="level-step">8</div>
                <div class="level-step">9</div>
                <div class="level-step">10</div>
            </div>
            <div data-ui-field="level-bar" class="level-bar"></div>
        </div>
    </div>

    <div layout="row center-right" class="status-bar">
        <div data-ui-field="status-message" self="size-x1">12/12/2019 15:15:15</div>
        <div data-ui-field="meter-watts" class="text-bold"></div>
        <div data-ui-field="activity-led" class="activity-led"></div>
    </div>

</div>
<div data-ui-field="context-menu-view" class="hidden">
    <h1 data-ui-field="menu-title">ModuleName</h1>
    <button layout="row center-left">
        <i class="material-icons">timer</i>
        <span>Automatic turn off timer</span>
    </button>
    <button layout="row center-left" class="disabled">
        <i class="material-icons">show_chart</i>
        <span>Show metering graph</span>
    </button>
    <button layout="row center-left" class="disabled">
        <i class="material-icons">settings</i>
        <span>Settings</span>
    </button>
    <button layout="row center-left" class="disabled">
        <i class="material-icons">check_box</i>
        <span>Enable voice control</span>
    </button>
</div>
