. {
    display: none;
    position: fixed;
    background: rgba(250, 150, 50, 1) linear-gradient(rgba(40,40,40), lightblue);
    top:0; left:0; right:0; bottom:0;
    z-index: 2000;
    tab-index: 0;
    overflow-y: auto;
    padding-top: 64px;
}
h2 {
    font-weight: 800;
    font-size: 260%;
    color:white;
    margin: 16px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
p {
    color: white;
    text-align: center;
}
.header {
    position: fixed;
    top: 0; left: 0;
    height: 56px;
    z-index: 2000;
    margin-bottom: 8px;
    padding: 8px;
    background: black;
    color: white;
}
.header h1 {
    margin: 0;
    font-size: 160%;
    font-weight: 700;
}
.header em {
    font-size: 36px;
    width: 48px;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
}

.char-view {
    background: white linear-gradient(white, lightcyan);
    min-width:280px;
    height:164px;
    margin:8px;
    border-radius: 8px;
}

.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: darkgreen;
    /* Control the thikness of your lines */
    stroke-width: 2px;
}

.data-box {
    margin: 8px;
    color: white;
}

.data-box label {
    color: yellow;
}

.data-box div {
    padding: 4px;
}

.wip-note {
    padding-top: 24px;
}

.box-shadow-heavy {
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.35), 0 0 24px 0 rgba(0, 0, 0, 0.65);
}
