:host {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    min-height:100vh;
    overflow-y: scroll;
    z-index: 1000;
    background: white;
}
.header {
    position: fixed;
    top: 0; left: 0;
    height: 56px;
    z-index: 2000;
    margin-bottom: 8px;
    padding: 8px;
    background: white;
}
.header h1 {
    color: #229553;
    margin: 0;
    font-size: 160%;
}
.header em {
    opacity: 0.25;
    font-size: 36px;
    width: 48px;
    text-align: center;
    font-weight: 100;
    margin-right: 8px;
    cursor: pointer;
}
.page {
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
}
.title-logo {
    padding-right: 16px;
    font-size: 135%;
    font-weight: 600;
    color: red;
}
.logo {
    color: rgba(20,0,200,0.75);
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 98%;
}
.summary {
    font-size: 120%;
    font-weight: 300;
}
.connection-item {
    margin: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.connection-item p {
    margin-left: 24px;
}
.connection-item h3 {
    margin: 0;
    font-size: 150%;
}
div[data-ui-field="page-adapters"] {
    padding-bottom: 56px;
}

.disabled, .disabled a {
    color: gray;
    opacity: 0.5;
}
input[data-ui-field="server-address"] {
    width: 100%;
}
