
/* Containers layout */

.container-height-80 {
  min-width: 280px;
  height: 80px;
}
.container-maxWidth-560 {
  max-width: 560px;
}
.container-height-160 {
  min-height: 160px;
  opacity: 0;
}
.scrollable {
  padding-bottom: 20px;
  overflow-y: scroll;
}
