. {
    background: rgba(255,255,255,0.75);
    min-width: 280px;
    max-width: 300px;
    min-height: 164px;
    border: solid 1px whitesmoke;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
    margin: 8px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 1;
    padding: 8px;
}

.time {
    font-size: 300%;
    font-weight: 800;
    opacity: 0.5;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: solid 2px gray;
    border-radius: 32px;
    margin: 16px;
    background: rgba(0,0,0,0.1);
}
.date {
    text-align: right;
}
.date,.day {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 120%;
    font-weight: 400;
    opacity: 0.75;
}

.clock-content {
    min-height: 140px;
}
