<div class="header">
  <div class="profile pulse">
    <img alt="HomeGenie Icon" src="images/genie.png">
  </div>
  <div data-ui-field="header-box" layout="row center-left">
    <div class="title logo">
      HomeGenie
    </div>
  </div>
</div>
<div data-ui-field="header-tools">
  <div class="topics" data-ui-load="@lib/controllers/view_pager" data-ui-options="options.groupIndicator">
    <div>
      Dashboard
    </div>
    <div>
      Living Room
    </div>
    <div>
      Kitchen
    </div>
    <div>
      Bedroom
    </div>
  </div>
</div>
