. {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 10px 0;
    cursor: pointer;
}

.container {
    padding-left: 8px; padding-right: 8px;
    height: 80px;
}

h2 {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 160%;
    padding: 0;
    margin: 0;
}
div[data-ui-field="description"] {
    color: rgba(0,0,0,0.5);
    /* limit text to 2 lines */
    line-height: 180%;
    max-height: 360%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
