.content {
    background: wheat linear-gradient(deepskyblue, wheat, white);
    font-family: serif;
    font-size: 110%;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.feed-pager {
    height: 100vh;
    z-index: 0;
}

.main-list {
    margin-top: 104px;
    margin-bottom: 206px;
}

.context-menu h1 {
    font-size: 120%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 8px;
    border-bottom: solid 1px #CCC;
    opacity: 0.5;
}
.context-menu i.material-icons {
    font-size: 180%;
}
.context-menu div[data-ui-field="menu"] {
    padding-bottom: 8px;
}
