.content {
    background: wheat;
    font-family: serif;
    font-size: 110%;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.feed-pager {
    height: 100vh;
    z-index: 0;
}

.main-list {
    margin-top: 104px;
    margin-bottom: 206px;
}
