.content {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: serif;
    font-size: 110%;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.feed-pager {
    height: 100vh;
    z-index: 0;
}

.main-list {
    margin-top: 104px;
    margin-bottom: 206px;
}

.context-menu h1 {
    font-size: 120%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 8px;
    border-bottom: solid 1px #CCC;
    opacity: 0.5;
}
.context-menu i.material-icons {
    font-size: 180%;
}
.context-menu div[data-ui-field="menu"] {
    padding-bottom: 8px;
}
