. {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #fafafa;
    overflow-y: scroll;
    z-index: 1000;
}
.page {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}
.title {
    margin: 0;
    font-size: 180%;
    font-weight: 300;
}
.title i {
    cursor: pointer;
    padding: 16px;
}
.title-logo {
    padding-right: 16px;
    font-size: 135%;
    font-weight: 600;
    color: red;
}
.img-logo {
    margin-top: 8px;
    height: 48px;
}
.logo {
    color: rgba(20,0,200,0.75);
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 98%;
}
.summary {
    font-size: 120%;
    font-weight: 300;
}
.connection-item {
    margin: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.connection-item p {
    margin-left: 24px;
}
.connection-item h3 {
    margin: 0;
    font-size: 150%;
}
div[data-ui-field="page-adapters"] {
    padding-bottom: 56px;
}

.disabled, .disabled a {
    color: gray;
    opacity: 0.5;
}
input[data-ui-field="server-address"] {
    width: 100%;
}
