a {
    text-decoration: none !important;
}
.mo-title-mdl {
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px;
    margin-right: 8px;
}
.mo-item-mdl span:first-child {
    padding: 8px 8px;
    margin-right: 4px;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    font-size: 80%;
    font-weight: 600;
    color: white;
}
.mo-item-mdl span {
    margin-right: 8px;
}
