---
title: 'HomeGenie UI'
link: 'https://github.com/genielabs/homegenie-web-ui'
head:
  title: 'HomeGenie UI'
  description: 'HomeGenie UI Progressive Web App.'
---
{% include "_inc/head_open.html" %}
  <!-- HGUI -->
  <script src="js/hgui.js"></script>
  <!-- Main page script and components loading options -->
  <script src="index.js" defer></script>
  <script src="index.options.js"></script>
  <script src="index.hgui.js" defer></script>
  <script src="js/widgets.js"></script>
  <!-- Main page style includes -->
  <link rel="stylesheet" href="index.css">
{% include "_inc/head_close.html" %}
<body>

<!-- The header with profile icon button for opening the drawer layout (side menu panel) -->
<header data-ui-include="layout/header"
        data-ui-options="options.headerBar"
        data-ui-field="header-bar"></header>

<main data-ui-field="pages">

  <!-- HOME -->
  <section data-ui-include="pages/home"
           data-ui-context="main-page"
           data-ui-field="main-page"></section>

  <!-- EVENTS & LOGS -->
  <section data-ui-include="pages/eventslog"
           data-ui-field="logs-page"></section>

  <!-- SETUP WIZARD -->
  <section data-ui-load="pages/setup" class="animated fadeIn"
           data-ui-field="setup-page"></section>

</main>

<!-- The footer with toolbar buttons -->
<!--
<footer data-ui-include="layout/footer"
        data-ui-options="options.footerBar"
        data-ui-field="footer-bar"></footer>
-->

<div data-ui-load="pages/module_detail"
     data-ui-context="module-detail" tabindex="0"></div>

<!-- The DrawerLayout for side menu panel -->
<div data-ui-load="@lib/controllers/drawer_layout"
     data-ui-options="options.drawerLayout"
     class="drawer"
     draggable="false">
  <!-- Add Navigation Drawer content -->
  <div data-ui-load="shared/main_menu"></div>
</div>

<!-- FAB -->
<div data-ui-include="shared/button_menu"
     data-ui-field="footer-bar"></div>

<div data-ui-include="pages/splash"
     data-ui-field="splash-screen"
     data-ui-priority="-1"
     layout="row center-center"></div>
<!--
<div data-ui-load="tools/zuix_hackbox"
     data-ui-context="zhb"
     data-ui-priority="10"></div>
-->
<noscript>
  Turn on JavaScript to access this site content.
</noscript>

{% include "_inc/body_end.html" %}
</body>
{% include "_inc/html_close.html" %}
