{% extends "_inc/standard_widget.html" %}
{% block content %}
    <div class="debossed" layout="column center-center">
        <div data-ui-field="field-a" layout="column center-center">
            <div layout="row center-center">
                <img data-ui-field="icon" class="field-icon" src="images/widgets/temperature.png">
                <div data-ui-field="value" class="field-value">21.5°</div>
            </div>
            <label data-ui-field="label">Sensor.Temperature</label>
        </div>
        <div data-ui-field="field-b" layout="column center-center">
            <div layout="row center-center">
                <img data-ui-field="icon" class="field-icon" src="images/widgets/drop.png">
                <div data-ui-field="value" class="field-value">65%</div>
            </div>
            <label data-ui-field="label">Sensor.Humidity</label>
        </div>
    </div>
{% endblock %}
