{% extends "_inc/standard_widget.html" %}
{% block content %}
    <div class="debossed" layout="column stretch-stretch" self="size-x1">
        <div class="actions" self="size-x1 stretch-stretch" layout="row stretch-stretch">
            <button z-field="control.off" class="flat-56">Off</button>
            <button z-field="control.toggle" class="flat-56" layout="row center-center">
                <div z-field="status-led" class="status-led off"></div>
            </button>
            <button z-field="control.on" class="flat-56">On</button>
        </div>
        <div z-field="level-view" self="size-small bottom">
            <div z-field="control.level" self="stretch" layout="row stretch-stretch">
                <div class="level-step">1</div>
                <div class="level-step">2</div>
                <div class="level-step">3</div>
                <div class="level-step">4</div>
                <div class="level-step">5</div>
                <div class="level-step">6</div>
                <div class="level-step">7</div>
                <div class="level-step">8</div>
                <div class="level-step">9</div>
                <div class="level-step">10</div>
            </div>
            <div z-field="level-bar" class="level-bar"></div>
        </div>
    </div>
{% endblock %}
<!-- the following view is not yet used (it should be the context menu) -->
<div z-field="context-menu-view" class="hidden">
    <h1 z-field="menu-title">ModuleName</h1>
    <button layout="row center-left">
        <i class="material-icons">timer</i>
        <span>Automatic turn off timer</span>
    </button>
    <button layout="row center-left" class="disabled">
        <i class="material-icons">show_chart</i>
        <span>Show metering graph</span>
    </button>
    <button layout="row center-left" class="disabled">
        <i class="material-icons">settings</i>
        <span>Settings</span>
    </button>
    <button layout="row center-left" class="disabled">
        <i class="material-icons">check_box</i>
        <span>Enable voice control</span>
    </button>
</div>
