{% include "_inc/standard_widget.css" %}
{% include "_inc/status_led.css" %}

div[data-ui-field="control.level"] {
    cursor: pointer;
}

.level-step {
    height: 24px;
    font-size: 9px;
    color: darkgray;
    text-align: center;
    border-left: 1px dotted rgba(100,100,100,0.1);
}
.level-step.on {
    color: orangered;
    -webkit-text-stroke: 1px rgba(0,0,0,0.2);
}
.level-bar {
    height: 6px;
    width: 0;
    background: #46c12e;
    -webkit-transition: width .2s ease-out; /* Safari */
    transition: width .2s ease-out;
}

.flat-56 {
    border: none;
    min-width: 56px;
    min-height: 56px;
    font-size: 120%;
    padding: 16px;
}
